body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    text-align: center;
    margin: 0;
    padding: 20px;}
h1 {color: #1877f2;}
h2 {margin-top: 30px;}
img {margin: 20px 0}
p {margin: 15px auto; width: 60%;}
a {text-decoration: none; color: #1877f2; font-weight: bold;}
a:hover {text-decoration: underline;}
small {color: #555;}
.container {background-color: white; width: 70%; margin: 40px auto; padding: 30px; border: 3px solid #1877f2; border-radius: 12px; box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);}
.content{text-align: left;font-size: 16px;width: 70%;argin: 15px auto;}
ul.content {padding-left: 20px;}
.title-bar img {
    width: 28px;
    cursor: pointer;
}